{% load crispy_forms_field i18n %}
{# Same shape as bootstrap5/field.html, plus a show/hide toggle. Password fields are the only ones that need one, so this stays local to accounts/ rather than becoming a crispy-wide override. #}
<div class="mb-3 password-field" x-data="{ show: false }">
    {% if field.label %}
        <label for="{{ field.id_for_label }}" class="form-label">
            {{ field.label }}{% if field.field.required %}<span class="asteriskField">*</span>{% endif %}
        </label>
    {% endif %}
    <div class="password-field__control">
        {% if field.errors %}
            {% crispy_field field 'class' 'form-control is-invalid' 'x-bind:type' "show ? 'text' : 'password'" %}
        {% else %}
            {% crispy_field field 'class' 'form-control' 'x-bind:type' "show ? 'text' : 'password'" %}
        {% endif %}
        <button type="button" class="password-field__toggle" tabindex="-1"
                @click="show = !show"
                :aria-label="show ? '{% translate "Hide password" %}' : '{% translate "Show password" %}'"
                :aria-pressed="show.toString()"
                aria-controls="{{ field.id_for_label }}">
            <span x-show="!show" x-cloak><c-icon name="eye" size="18" /></span>
            <span x-show="show" x-cloak><c-icon name="eye-off" size="18" /></span>
        </button>
    </div>
    {% include 'bootstrap5/layout/help_text_and_errors.html' %}
</div>
